@import url('main-layout.css');
@import url('lit-timer.css');

vaadin-grid.player-field-factory-article-form::part(field-factory-info-entity-accept) {
    background: rgba(122, 201, 122, 0.2);
}

vaadin-grid.player-field-factory-article-form::part(field-factory-info-entity-reject) {
    background: rgba(255, 128, 114, 0.2);
    color: var(--vaadin-text-color-disabled);
}

.benchmark-dialog a.benchmark-result-link{
    display: inline-block;
    padding: 4px 8px;
    color: #ffffff;
    background-color: var(--lumo-primary-color);
}
